<!-------------------------------- CONTENT ENDS HERE -------------------------------->

<!-- Modals Begin -->
<noindex>

    <!-- Modal Cta Begin -->
    <div id="modal-cta" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#10005;</span>
                </button>
                <form class="form">
                    <h2 class="form__title">ОСТАВЬТЕ ЗАЯВКУ, И МЫ ВНЕСЕМ ВАС В СПИСОК УЧАСТНИКОВ</h2>
                    <div class="control">
                        <input type="text" name="name" class="control__input js-name is-required" placeholder="Имя">
                    </div>
                    <div class="control">
                        <input type="text" name="phone" class="control__input js-phone is-required" placeholder="Телефон">
                    </div>
                    <div class="control">
                        <input type="text" name="email" class="control__input js-email is-required" placeholder="Email">
                    </div>
                    <button type="submit" class="button form__button">Оставить заявку</button>
                </form>
            </div>
        </div>
    </div><!--/. Modal Cta End -->

    <!-- Modal Success Begin -->
    <div id="modal-success" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#10005;</span>
                </button>
                <div class="modal__success">
                    <h2 class="modal__title">Спасибо!</h2>
                    <div class="modal__subtitle">Наш менеджер перезвонит Вам!</div>
                </div>
            </div>
        </div>
    </div><!--/. Modal Success End -->

    <!-- Modal Iframe Begin -->
    <div id="iframe-modal" class="modal bm-modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="bm-modal__embed">
                        <iframe class="bm-modal__embed-item jsBmEmbedItem" frameborder="0" src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/. Modal Iframe End -->

</noindex><!--/. Modals End -->

<!-- Main scripts. You can replace it, but I recommend you to leave it here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="%=static=%js/separate-js/scripts.js"></script>
