
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamPro.woff') format('woff'),
         url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Medium.woff') format('woff'),
    url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Light.woff') format('woff'),
    url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 600;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro-Black.eot');
    src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
    font-weight: 700;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
}

