<!-- Footer Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="row" vertical-gutter="30">
                <div class="col-md-3 col-lg-2">
                    <img src="%=static=%img/general/logo.png" alt="">
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="#" class="footer__link">Главная</a>
                    <a href="#" class="footer__link">Агентство</a>
                    <a href="#" class="footer__link">Услуги</a>
                    <a href="#" class="footer__link">Портфолио</a>
                    <a href="#" class="footer__link">Кейсы</a>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="#" class="footer__link">Блог</a>
                    <a href="#" class="footer__link">Вакансии</a>
                    <a href="#" class="footer__link">Отзывы</a>
                    <a href="#" class="footer__link">Контакты</a>
                </div>
                <div class="col-md-3 col-lg-3">
                    <a href="#" class="footer__link">+7 708 103 74 85</a>
                    <a href="#" class="footer__link">info@9oweb.kz</a>
                    <div class="social">
                        <a href="#" class="social__link">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="social__link">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" class="social__link">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="#" class="social__link">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="social__link">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 d-none d-lg-block">
                    <button type="button" class="footer__map bmd-modalButton" data-toggle="modal" data-bmdSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91737.51273778046!2d12.566428499999994!3d44.06689465000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132cc3a48fa6592b%3A0xc1f284db17f1449d!2sRimini+RN!5e0!3m2!1sit!2sit!4v1427492339750" data-bmdWidth="600" data-bmdHeight="450" data-target="#iframe-modal">
                        <img src="%=static=%img/content/map.jpg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__left">2015 - 2019. Все права защищены. Агентство 9 O’WEB</p>
            <p class="footer__right">Сделано своими руками с любовью.</p>
        </div>
    </div>
</footer><!--/. Footer End -->
