/*
|--------------------------------------------------------------------------
| social
|--------------------------------------------------------------------------
*/

.social {
    @include nl();
    display: flex;
    align-items: center;
    @include rem('margin-top', 20px);

    &__item {

    }

    &__link {
        @include rem('font-size', 16px);
        color: #F9F9F9;
        width: 25px;
        flex: 0 0 25px;
        max-width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #383E44;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        @include rem('margin', 0 5px);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &:focus {
            color: #fff;
            background: $blue;
            text-decoration: none;
        }
    }
}
