<!-- Header Begin -->
<header class="header">
    <div class="container header__container">
        <button type="button" class="burger jsBurgerMenu">
            <span class="burger__item"></span>
        </button>
        <a href="#" class="logo" title="9 oweb">9oweb</a>
        <div class="header__right">
            <a href="tel:" class="header__contacts">+7 708 103 74 85</a>
            <a href="mailto:" class="header__contacts">info@9oweb.kz</a>
            <a href="#" class="button -blue header__button" data-target="#modal-cta" data-toggle="modal">Оставить заявку</a>
            <div class="lang">
                <a href="#" class="lang__link -active">Ru</a>
                <a href="#" class="lang__link">En</a>
            </div>
        </div>
    </div>
</header><!--/. Header End -->
