/*
|--------------------------------------------------------------------------
| breadcrumb
|--------------------------------------------------------------------------
*/

.breadcrumbs {
    @include nl();
    position: relative;
    background: none;
    display: flex;
    align-items: center;
    @include rem('margin-bottom', 20px);

    @include media-breakpoint-down(sm) {
        display: none;
    }

    &__item {
        font-weight: 300;
        color: $black;
        display: flex;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            width: 27px;
            height: 8px;
            background: url("../img/general/ic-long-arrow_left.svg");
            background-size: 100%;
            @include rem('margin', 0 15px);
        }
        &:first-child:before {
            display: none
        }

        &.-active {
            color: #616261;
        }
    }

    &__link {
        color: $black;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: $blue;
            text-decoration: none;
        }
    }
}
