/*
|--------------------------------------------------------------------------
| cta
|--------------------------------------------------------------------------
*/

.cta {
    position: relative;
    @include rem('padding', 100px 0 0);

    @include media-breakpoint-down(sm) {
        background-size: contain;
        background: none;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 600px;
        background: url("../img/general/wave_10.svg") left bottom no-repeat;
    }

    &__form {
        max-width: 800px;

        @include media-breakpoint-up(md) {
            @include rem('padding', 0 0 0 45px);
        }

        .selectize-control.single .selectize-input {
            background: none;
        }

        .control {

            @include media-breakpoint-up(md) {
                margin: 0;
            }
        }

        .control__input {
            @include rem('font-size', 18px);
            font-weight: 500;
            border: none;
            color: #383E44;
            padding: 5px 0;
            border-bottom: 1px solid #D5D5E2;
            border-radius: 0;
            min-height: auto;
            background: none;

            &::placeholder {
                color: #D5D5E2;
                font-weight: normal;
            }
        }
    }

    &__label {
        @include rem('font-size', 18px);
        font-weight: 500;

        @include media-breakpoint-down(sm) {
            @include rem('font-size', 14px);
            color: #D5D5E2;
        }
    }

    &__form-button {
        min-width: 200px;
        @include rem('margin-top', 30px)
    }

    &__form-desc {
        font-size: 12px;
        font-weight: 300;
        margin-top: 15px;
    }

    &__bottom {
        font-size: 12px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        @include rem('margin-top', 45px);
        @include rem('padding-bottom', 60px);

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
